.vagrant/
.vscode/
bootstrap_office.retry
roles/ansible-avahi/
roles/ansible-netdata/
roles/ansible-nginx/
roles/ansible-nodejs/
roles/ansible-snmpd/
roles/avanov.pyenv/
roles/mjanser.powerline/
roles/nass600.powerline/
roles/pablocrivella.nvm/
roles/radamanth.node-nvm-ansible/
roles/suzuki-shunsuke.pyenv-module/
roles/tvieira.powerline-fonts/
roles/ulimit/
roles/viasite-ansible.zsh/
roles/zzet.rbenv/
roles/ansible-motd/
roles/ansible-ntp/
roles/ansible-rsyslog/
roles/ansible-timezone/
roles/boss-ansible-role-swapfile/
roles/boss-ansible-role-debug/
roles/ansible-logrotate/
roles/ansible-role-unifi-controller/
roles/lifeofguenter.oracle-java/
vault_password
roles/ansible-datadog/
roles/*
!roles/.gitkeep
.vagrant/
*.log
*.retry
.vagrant
